@{
}
<h1>The given car is:</h1>
<h2>Data</h2>
<p>Manufacturer: @ViewBag.Manufacturer</p>
<p>Type: @ViewBag.Type</p>
<p>Model: @ViewBag.Model</p>
<p>Registration Date: @ViewBag.ChassisNumber</p>
<p>Chassis Number: @ViewBag.ChassisNumber</p>
<p>Specification: @ViewBag.Specification</p>
<p>Description: @ViewBag.Description</p>
<p>Issues: @ViewBag.Issues</p>