@model List<Car>
@{
    ViewData["Title"] = "Car";
}
<h1>Home</h1>
@foreach (var item in Model)
{
    <div>
        <h2>Data</h2>
        <p>Manufacturer: @item.Manufacturer</p>
        <p>Type: @item.Type</p>
        <p>Model: @item.Model</p>
        <p>Registration Date: @item.ChassisNumber</p>
        <p>Chassis Number: @item.ChassisNumber</p>
        <p>Specification: @item.Specification</p>
        <p>Description: @item.Description</p>
        <p>Issues: @item.Issues</p>
    </div>
}